.button-color{
    background-color: blue;
    width: 200px;   
    height: 50px;
    color: aliceblue;
    border: none;
}
.form-layout{
    border: 2px solid rgb(209, 11, 87);
    background-color: rgb(221, 21, 138);
    height: 150px;
    width: 600px;
    color: aliceblue;
}
.form-input{
    width: 280px;
    height: 30px;
    border-color: rgb(190, 17, 17);
    background-color: white;
}
.div-layout{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.form-input.isValid{
    border-color: black;
    background-color:  rgb(223, 25, 84);
}